@model IEnumerable<Nexo.Models.FornecedorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Data de Cadastro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Cadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Fornecedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Fornecedor">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Fornecedor">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
